/* General Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), #b8b3c9);
}

button:hover {
  cursor: pointer;
}

/* Mobile approach first */
.app-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 80vh;
  width: 80vw;
  padding: 1rem;
}

.searchbar-wrapper {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.searchbar {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 5px;
  width: 90%;
  font-size: 1rem;
}

.searchbar::placeholder {
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
}

.searchbar:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
}

.searchbar-btn {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.searchbar-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-basis: 70%;
  padding-top: 10px;
}

.celsius:hover,
.fahrenheit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.local-time {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.main-info img {
  width: 30%;
}

.current-temperature {
  color: black;
  font-size: 3rem;
}

.temperature-converter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator,
.celsius,
.fahrenheit {
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}

.city-wrapper {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1rem;
}

.wind-humidity-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 20%;
}

.wind-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.humidity-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind-speed,
.humidity-percentage {
  font-size: 0.9rem;
  font-weight: 500;
}

.wind-icon {
  font-size: 1.5rem;
}

.humidity-wrapper img {
  width: 3rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  flex-basis: 90%;
  color: black;
}

.error {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 90%;
}

@media (min-width: 500px) {
  .app-container {
    height: 90vh;
  }

  .searchbar {
    width: 70%;
  }

  wind-speed,
  .humidity-percentage {
    font-size: 1.3rem;
  }

  .wind-icon {
    font-size: 2rem;
  }

  .humidity-wrapper img {
    width: 4rem;
  }
}

@media (min-width: 751px) {
  .searchbar {
    width: 60%;
  }

  .local-time {
    font-size: 1.5rem;
  }

  .main-info img {
    width: 20%;
  }

  .current-temperature {
    color: black;
    font-size: 4rem;
  }
}

@media (min-width: 850px) {
  .searchbar {
    width: 50%;
  }

  .main-info img {
    width: 15%;
  }

  .wind-speed,
  .humidity-percentage {
    font-size: 1.5rem;
  }

  .wind-icon {
    font-size: 2rem;
  }

  .humidity-wrapper img {
    width: 3rem;
  }
}

@media (min-width: 1120px) {
  .searchbar {
    width: 40%;
  }

  .current-temperature {
    font-size: 2.5rem;
  }

  .separator,
  .celsius,
  .fahrenheit {
    font-size: 2rem;
  }

  .city-wrapper {
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  .searchbar {
    width: 40%;
    padding: 8px;
  }

  .current-temperature {
    font-size: 4rem;
  }

  .separator,
  .celsius,
  .fahrenheit {
    font-size: 2.5rem;
  }

  .city-wrapper {
    font-size: 2.5rem;
  }

  .local-time {
    font-size: 2rem;
  }

  .wind-speed,
  .humidity-percentage {
    font-size: 2rem;
  }

  .wind-icon {
    font-size: 3rem;
  }

  .humidity-wrapper img {
    width: 5rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 750px) {
  .app-container {
    height: 90vh;
  }

  .searchbar {
    width: 60%;
  }

  .main-info img {
    width: 10%;
  }

  .separator,
  .celsius,
  .fahrenheit {
    font-size: 1.5rem;
  }

  .city-wrapper {
    font-size: 1.2rem;
  }

  .wind-speed,
  .humidity-percentage {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .wind-icon {
    font-size: 1.5rem;
  }

  .current-temperature {
    font-size: 2rem;
  }

  .humidity-wrapper img {
    width: 3rem;
  }
}
